@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  background: #334155;
  color: #cbd5e1;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Victor Mono', monospace;
}

.screen {
  max-height: 90%;
  min-height: 90%;
  min-width: 90%;
  max-width: 90%;
}